<launch>
  <arg name="odom_topic" value="/racebot/true_state/odom" />
  <arg name="cmd_topic" value="/racebot/cmd_vel" />
  <arg name="traj_topic" value="/ugv/trajectory" />
  <arg name="map_name" default="field" />
  <arg name="x_pos" value="-4.0"/>
  <arg name="y_pos" value="-4.0"/>
  <arg name="z_pos" value="3.0"/>
  <arg name="Y_pos" value="0.0"/>

  <rosparam command="load" file="$(find plan_manager)/params/run_field.yaml" />

  <node pkg="plan_manager" name="manager_node" type="manager_node" output="screen">
    <param name="uneven_map/map_pcd" type="string" value="$(find uneven_map)/maps/$(arg map_name).pcd" />
    <param name="uneven_map/map_file" type="string" value="$(find uneven_map)/maps/$(arg map_name).map" />
    <remap from ="~cmd" to="$(arg cmd_topic)"/>
    <remap from="~odom" to="$(arg odom_topic)"/>
    <remap from="~traj" to="$(arg traj_topic)"/>
  </node>

  <node name="rviz_field" pkg="rviz" type="rviz" args="-d $(find uneven_map)/rviz/default.rviz" required="true" />
  
</launch>